name: Release (Nightly)

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/_build.yml
    with:
      target_ref: '${{ github.ref_name }}'
      build_type: 'debug'

  publish-gh:
    needs: [build]
    uses: ./.github/workflows/_publish-gh.yml
    secrets: inherit
    with:
      tag: 'nightly'
      name: 'Nightly'
  
  # Delete artifacts after use.
  cleanup:
    runs-on: ubuntu-latest
    needs: [publish-gh]
    steps:
      - uses: GeekyEggo/delete-artifact@v5
        with: 
          name: |
            *
